### Pushing the Dataframe into a Cloudant DB (IBM Cloud)

We want to push the data from the dataframe (final_df) into the Cloudant database "nbabasket" in oder to use the data for 
the Watson Assistant service on the IBM Cloud. Watson Assistant a service, which can be used to create virtual assistants.
In order to connect the cloudant db "nbabasket" with Watson Assistant, we need to use a webhook in the IBM Cloud (via Cloud Action Funtions), which includes a python script for the requests.

In [32]:
#Just Domenic's remarks for himself

#Connection to cloudant DB
#https://medium.com/@glynn_bird/using-cloudant-from-jupyter-notebooks-acf36428d65c
#https://cloud.ibm.com/docs/Cloudant?topic=Cloudant-creating-and-populating-a-simple-ibm-cloudant-database-on-ibm-cloud

In [33]:
#Removing variables which are not to be showcased in the DB and later in the chatbot
df_cloudant = final_df.drop(['age', 'pw', 'pl', 'mov', 'sos', 'srs', 'o_rtg', 'd_rtg', 'n_rtg', 'pace', 'f_tr', 'x3p_ar', 'ts_percent', 'e_fg_percent', 'tov_percent', 'orb_percent', 'ft_fga', 'opp_e_fg_percent', 'opp_tov_percent', 'opp_drb_percent', 'opp_ft_fga', 'attend', 'attend_g', 'Conf', 'Div', 'W_L_Per', 'MOV_A', 'ORtg_A', 'DRtg_A', 'NRtg_A'], axis = 1)
df_cloudant

     season                 Team  playoffs     w     l  Rk
Nr
1      2022        Atlanta Hawks     False  43.0  39.0  14
2      2021        Atlanta Hawks     False  41.0  31.0  11
3      2020        Atlanta Hawks     False  20.0  47.0  28
4      2019        Atlanta Hawks     False  29.0  53.0  26
5      2018        Atlanta Hawks     False  24.0  58.0  26
..      ...                  ...       ...   ...   ...  ..
356    2013  New Orleans Hornets     False  27.0  55.0  23
357    2012  New Orleans Hornets     False  21.0  45.0  23
358    2011  New Orleans Hornets      True  46.0  36.0  13
359    2012      New Jersey Nets     False  22.0  44.0  28
360    2011      New Jersey Nets     False  24.0  58.0  28

[360 rows x 6 columns]

In [34]:
#Installing the cloudant package
!pip install cloudant

Requirement already satisfied: cloudant in c:\users\startklar\anaconda3\lib\site-packages (2.15.0)
Requirement already satisfied: requests<3.0.0,>=2.7.0 in c:\users\startklar\anaconda3\lib\site-packages (from cloudant) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\startklar\anaconda3\lib\site-packages (from requests<3.0.0,>=2.7.0->cloudant) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\startklar\anaconda3\lib\site-packages (from requests<3.0.0,>=2.7.0->cloudant) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\startklar\anaconda3\lib\site-packages (from requests<3.0.0,>=2.7.0->cloudant) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in c:\users\startklar\anaconda3\lib\site-packages (from requests<3.0.0,>=2.7.0->cloudant) (2.10)

In [35]:
#importing the different packages in order to create connection to the cloudant service instance
from cloudant.client import Cloudant
from cloudant.error import CloudantException
from cloudant.result import Result, ResultByKey

In [36]:
#Creating variables with the credentials and the API Key (Service Instance)
serviceUsername = "apikey-v2-getphic9juua2rt8xj8jwr6m4nd61hi3hz1bj38qxjb"
servicePassword = "14200e906ab5b89195ad3886691136d3"
serviceURL = "https://apikey-v2-getphic9juua2rt8xj8jwr6m4nd61hi3hz1bj38qxjb:14200e906ab5b89195ad3886691136d3@cf339528-794c-4422-8233-9071f63b424a-bluemix.cloudantnosqldb.appdomain.cloud"

In [37]:
#Create connection to the service instance
client = Cloudant(serviceUsername, servicePassword, url=serviceURL)
client.connect()

In [38]:
#Creating an instance, inwich a variable in the python application is defined
databaseName = "nbabasket"

#Create a database
assignmentDB = client.create_database(databaseName)

#Check if the database was created
if assignmentDB.exists():
    print("'{0}' successfully created.\n".format(databaseName))

'nbabasket' successfully created.

In [39]:
#Transform the final dataframe into an array so that we can iterate over the data for the creation of a JSON to be uploaded in nbabasket database
db_array = df_cloudant.to_numpy()

print(db_array)

jsonDocument ={}

[[2022 'Atlanta Hawks' False 43.0 39.0 '14']
 [2021 'Atlanta Hawks' False 41.0 31.0 '11']
 [2020 'Atlanta Hawks' False 20.0 47.0 '28']
 ...
 [2011 'New Orleans Hornets' True 46.0 36.0 '13']
 [2012 'New Jersey Nets' False 22.0 44.0 '28']
 [2011 'New Jersey Nets' False 24.0 58.0 '28']]