## 4.0 Pushing the Dataframe into a Cloudant DB (IBM Cloud)

We want to push some data from the dataframe (final_df --> df_cloudant) into the Cloudant database "nbabasket" in oder to use the data for 
the Watson Assistant service on the IBM Cloud. Watson Assistant a service, which can be used to create virtual assistants.
<br>
<br>
In order to connect the cloudant db "nbabasket" with Watson Assistant, we need to use a webhook in the IBM Cloud (via Cloud Action Funtions), which includes a Java script (node.js12) for the read requests.

In [38]:
# Removing variables which are not to be showcased in the DB and later in the chatbot
df_cloudant = final_df.drop(['age', 'pw', 'pl', 'sos', 'srs', 'pace', 'f_tr', 'x3p_ar', 'ts_percent', 'e_fg_percent', 'tov_percent', 'orb_percent', 'ft_fga', 'opp_e_fg_percent', 'opp_tov_percent', 'opp_drb_percent', 'opp_ft_fga', 'attend', 'attend_g', 'W/L%', 'MOV/A', 'ORtg/A', 'DRtg/A', 'NRtg/A'], axis = 1)
df_cloudant

     season                 Team  playoffs   W   L  Rk
Nr
1      2022        Atlanta Hawks     False  43  39  14
2      2021        Atlanta Hawks     False  41  31  11
3      2020        Atlanta Hawks     False  20  47  28
4      2019        Atlanta Hawks     False  29  53  26
5      2018        Atlanta Hawks     False  24  58  26
..      ...                  ...       ...  ..  ..  ..
356    2013  New Orleans Hornets     False  27  55  23
357    2012  New Orleans Hornets     False  21  45  23
358    2011  New Orleans Hornets      True  46  36  13
359    2012      New Jersey Nets     False  22  44  28
360    2011      New Jersey Nets     False  24  58  28

[360 rows x 6 columns]

In [39]:
# Installing the cloudant package
!pip install cloudant

Requirement already satisfied: cloudant in c:\users\startklar\anaconda3\lib\site-packages (2.15.0)
Requirement already satisfied: requests<3.0.0,>=2.7.0 in c:\users\startklar\anaconda3\lib\site-packages (from cloudant) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\startklar\anaconda3\lib\site-packages (from requests<3.0.0,>=2.7.0->cloudant) (2021.10.8)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\startklar\anaconda3\lib\site-packages (from requests<3.0.0,>=2.7.0->cloudant) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\startklar\anaconda3\lib\site-packages (from requests<3.0.0,>=2.7.0->cloudant) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\startklar\anaconda3\lib\site-packages (from requests<3.0.0,>=2.7.0->cloudant) (2.10)

In [40]:
# Importing the different packages in order to create connection to the cloudant service instance
from cloudant.client import Cloudant
from cloudant.error import CloudantException
from cloudant.result import Result, ResultByKey

In [41]:
# Creating variables with the credentials and the API Key (Service Instance)
serviceUsername = "apikey-v2-getphic9juua2rt8xj8jwr6m4nd61hi3hz1bj38qxjb"
servicePassword = "14200e906ab5b89195ad3886691136d3"
serviceURL = "https://apikey-v2-getphic9juua2rt8xj8jwr6m4nd61hi3hz1bj38qxjb:14200e906ab5b89195ad3886691136d3@cf339528-794c-4422-8233-9071f63b424a-bluemix.cloudantnosqldb.appdomain.cloud"

In [42]:
# Create connection to the service instance
client = Cloudant(serviceUsername, servicePassword, url=serviceURL)
client.connect()

In [43]:
# Creating an instance, inwich a variable in the python application is defined
databaseName = "nbabasket"

# Create a database
assignmentDB = client.create_database(databaseName)

# Check if the database was created
if assignmentDB.exists():
    print("'{0}' successfully created.\n".format(databaseName))

'nbabasket' successfully created.

In [44]:
# Transform the final dataframe into an array so that we can iterate over the data for the creation of a JSON to be uploaded in nbabasket database
db_array = df_cloudant.to_numpy()

print(db_array)

jsonDocument ={}

[[2022 'Atlanta Hawks' False 43 39 14]
 [2021 'Atlanta Hawks' False 41 31 11]
 [2020 'Atlanta Hawks' False 20 47 28]
 ...
 [2011 'New Orleans Hornets' True 46 36 13]
 [2012 'New Jersey Nets' False 22 44 28]
 [2011 'New Jersey Nets' False 24 58 28]]

In [45]:
# We need the libary time to enable the uploading process into the db to "sleep"
# since we only have a limited write request per second available
from time import sleep


# For loop to run over the array, to transform it in a Json and then uploaded in our nbabasket database.
for document in db_array:
    # Retrieve the fields in each row.
    season = document[0]
    Team = document[1]
    playoffs = document[2]
    w = document[3]
    l = document[4]
    Rk = document[5]
    #creating the Json document
    jsonDocument = {
    "_id": Team+str(season),
    "Season": season,
    "Team": Team,
    "Playoffs": playoffs,
    "Win": w,
    "Loss": l,
    "Ranking": Rk,
    }
    # Sleep since we are only able to upload 20 records per second into the nbabasket database
    sleep(0.1)
    newDocument = assignmentDB.create_document(jsonDocument)

# Checking if the new document exists in the DB
if newDocument.exists():
    print("Document '{0}' successfully created.".format(lst))

Document '[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360]' successfully created.